<!DOCTYPE html>
{% load static %}
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
    
    <link rel="stylesheet"  href="{%  static  'css/home.css'  %}">
    <link rel="icon" type="image/png" href="/logo.png">
    <title>secerative homepage</title>
</head>
<body>
    <header class="flexheader">
        <img src="{% static 'images/logo.png' %}" class="logopic">
        <h1 class="logoname">Secerative</h1>
        <nav class="navbar">
            <ul class="flexul">
                <li class="listitems"><a href="/home">Home</a></li>
                <li class="listitems"><a href="/textenc">Text Encryption</a></li>
                <li class="listitems"><a href="/fileenc">File Encryption</a></li>
                <li class="listitems"><a href="/feedback">Feedback</a></li>
                {% if user.is_authenticated %}
                <li class="reg_text">
                Hi, {{user.username}}
                </li>
                <li class="listitems">
                <a href="/logout_user">LOGOUT</a>
                </li>
                {% else %}
                <li class="reg_signup">
                <a href="/register">SIGN UP</a>
                </li>
                <li class="listitems">
                <a href="/login_user">LOGIN</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="textencryption">
        <img src="{% static 'images/text encryption.png' %}" alt="text encryption picture" class="textimg">
        <p class="tetext">
            Encryption converts data into scrambled text. The unreadable text can only be decoded with a secret key. The secret key is available only in this website. Thus If you want to decrypt the encrypted message , you have to comeback to this website in order to decrypt It.You can Encrypt text by clicking the button below.
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="/textenc" class="tebutton">Encrypt Text</a>
        </p>
    </section>
    <section class="textencryption">
        <p class="fetext">
            File encryption protects individual files or file systems by encrypting them with a specific key, making them accessible only to the keyholder. The goal is to prevent malicious or unauthorized parties from accessing files that are stored on the disk.This website helps you to do the same by making your file password protected,You can Encrypt file by clicking on the button below.
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="/fileenc" class="febutton">Encrypt File</a>
        </p>
        <img src="{% static 'images/feimg.jpg' %}" alt="file encryption picture" class="fileimg">
    </section>
</body>
</html>